$body-color: red;

* {
  box-sizing: border-box;
}

body {
  // reset
  margin: 0;
  // color: $body-color;
  background: #2e2442;
  // TODO: Find a more ideal font to go for
  font-family: 'Helvetica', 'Arial', sans-serif;
  // For animations...
  overflow: hidden;
}

.stacking-10 {
  > * + * {
    margin-top: 10px;
  }
}

.stacking-20 {
  > * + * {
    margin-top: 20px;
  }
}

.flex-0 {
  > * + * {
    margin-left: 0;
  }
}

.flex-10 {
  > * + * {
    margin-left: 10px;
  }
}

.flex-20 {
  > * + * {
    margin-left: 20px;
  }
}

.flex-30 {
  > * + * {
    margin-left: 30px;
  }
}

// Button
.MuiButton-containedPrimary.nv-btn {
  background: #4db391;
  color: #2e2442;
}

.menu-item {
  position: relative;
  color: #e2e2e2;
  cursor: pointer;

  &:hover {
    color: white;
  }

  &.active {
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 4px;
      background: #419fd6;
      top: 0;
      left: 0;
      bottom: 0;
    }

    color: white;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,0.5) 0%, rgba(0,212,255,0.25) 35%, rgba(0,212,255,0) 100%);
  }
}

.slide-up {
  animation: slide-up 0.3s ease;
}


@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}


.slide-down {
  animation: slide-down 0.3s ease;
}


@keyframes slide-down {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(100%);
  }
}