$body-color: red;

body {
  // reset
  margin: 0;
  // color: $body-color;
  background: #440066;
}

.stacking-10 {
  > * + * {
    margin-top: 10px;
  }
}

.container {
  color: white;
  position: absolute;
  background: purple;
  top: 20px;
  padding: 20px;
  border-radius: 10px;
}