$body-color: red;

* {
  box-sizing: border-box;
}

body {
  // reset
  margin: 0;
  // color: $body-color;
  background: #2e2442;
}

.stacking-10 {
  > * + * {
    margin-top: 10px;
  }
}

.container {
  color: white;
  background: #422e6b;
  padding: 20px;
  border-radius: 10px;
}

.MuiButton-containedPrimary.nv-btn {
  background: #4db391;
  color: #440066;
}

.menu-item {
  position: 'relative';
  
  &.active {
    &::before {
      content: '';
      display: block;
      height: 10px;
      width: 10px;
      background: red;
    }

    background: green;
  }
}